@font-face {
  font-family: LCChalk;
  src: url(fonts/LCChalk.woff);
}
@font-face {
  font-family: BirchCTT;
  src: url(fonts/BirchCTT.woff);
}

@font-face {
  font-family: Kosko;
  src: url(fonts/Kosko.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0;
  line-height: 1;
  text-decoration: none;
}

body {
  background-color: #FFF8DC;
}

.App {
  text-align: center;
  position: relative;

  max-width: 1134px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0 15px;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  
  margin: 0 0;

  position: relative;
}

.App-header__top {
  height: 50px;
  line-height: 50px;
  font-family: LCChalk;
  text-wrap: none;
  font-size: 20px;
  color: #272526;

  overflow: hidden;
}

.App-header__top > span {
  margin: 0 12px;
}

.App-header__body_wrap{
  padding: 0 32px;
}

.App-header__body {
  background: top / contain no-repeat url("imgs/hello/hello_background.png");
  width: 100%;
}

.ring-pic{
  width: 33%;
  margin: 48px auto 32px;
}

.ring-pic > img {
  width: 100%;
}

.we-marying__title{
font-family: BirchCTT;
font-size: 48px;
width: 100%;
color: #3C3C3C;
}
.we-marying__subtitle{
  font-family: LCChalk;
  font-size: 64px;
  color: #FF789F;
}

.we-pic{
  margin: 42px 0 0;
  position: relative;
}

.we-pic img{
  margin-bottom: -25%;
  width: 95%;
}

.guests-text__wrapper{
  padding: 40px 48px 70px;

  color: #FFE4B3;
  margin-left: -64px;
  margin-right: -64px;
  position: relative;
  z-index: 1;
}

.guests-text__wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.guests-text__title{
  font-family: LCChalk;
  font-size: 64px;
  margin-bottom: 12px;
}

.guests-text__text{
  font-family: BirchCTT;
  font-size: 32px;

  padding: 5px;
}

.timing__section {
  background: center / contain no-repeat url(imgs/timing/timing_background.png);
}

.timing__section-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  font-family: Kosko;

  color: #FF789F;
  margin-top: 60px;
}

.timing__section-when_question{
  font-size: 4rem;
  padding-top: 3.5rem;
}

.timing__section-when_question span{
  position: relative;
}

.timing__section-when_question img{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.timing__section-when {
  display: flex;
}

.timing__section-when_date{
  font-size: 8rem;
}

.timing__section-when_my{
  margin-top: 5px;
  font-size: 4rem;
  margin-left: 2rem;
}

.timing__section-when-block {
    margin-top: 30px;
    max-width: 800px;
    padding: 7rem 0 4rem 2rem;
    margin-right: auto;
    width: fit-content;
    position: relative;
}

.timing__section-when-block > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
}

.timing__section-when-block > div{
  z-index: 1;
  position: relative;
}

.timing__section-when-block_title{
  font-family: Kosko;
  font-size: 4rem;

  margin: 3rem 0 3rem auto;
  color: #FC470A;
}

.timing__section-when-block_time {
  font-family: Kosko;
  font-size: 2rem;

  display: flex;
  align-items: center;
  max-width: 600px;

  margin-left: 32px;
}

.timing__section-when-block_time img {
  width: 7rem;
}

.timing__section-when-block_time_first {
  text-align: end;
  display: flex;
  align-items: stretch;
  order: 1;

  flex-basis: 35%;
  justify-content: end;
  padding-bottom: 3rem;
}

.timing__section-when-block_time::after {
  content: '';
  width: 3px;
  background-color: #FC470A;
  margin: 0 20px;
  align-self: stretch;
  order: 2;
}

.timing__section-when-block_time_second{
  text-align: start;
  order: 3;
  flex-basis: 58%;
  padding-bottom: 3rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


section{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  margin: 0 auto;
}

section:last-child {
  margin-bottom: 24px;
}

.playbtn{
  /* display: none; */
  position: absolute;
  top: 3rem;
  right: 1.5rem;
  cursor: pointer;

  height: 3rem;
  width: 3rem;

  animation: 1s linear 0s 1 alternate fade;
  z-index: 1000;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.playbtn img {
  width: 100%;
  height: 100%;
}

.section-place {
  margin: 7rem 0 12rem;

  padding: 0 1.3rem;
}

.section-place__title {
  background: center / contain no-repeat url(imgs/place/place_title_back.png);
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 7rem 5rem;
}

.section-place__title-img{
  margin-right: 13px;
}

.section-place__title-text{
  font-size: 3rem;
  font-family: LCChalk;
  color: #FFF8DC;
}

.section-place__title-img {
  width: 5rem;
}

.section-place__title-img > img {
  width: 100%;
}

.section-place__info {
  display: flex;
  justify-content: space-between;
}

.section-place__info > * {
  width: 49%;
}

.section-place__info-img > img {
  width: 100%;
}

.section-place__info-text{
  display: flex;
  flex-direction: column;

  justify-content: center;

  max-width: 450px;
}

.section-place__info-text > div{
  margin: 0.75rem;
  font-family: Kosko;
  font-size: 2.2rem;
}

.manya-map{
  margin: 2rem auto;

  border-radius: 20px;
  border: 15px solid #FF789F;
  overflow: hidden;
}

.wishes__section{
  background: #FF789F;
  position: relative;
}

.wishes__section-pikes-before{
  width: 100%;

  display: block;
  position: absolute;
  top: 0;

  transform: translateY(-80%);
}

.wishes__section-pikes-before > img {
  width: 100%;
}

.wishes__section-pikes-after{
  width: 100%;

  display: block;
  position: absolute;
  bottom: 0;

  transform: translateY(80%) rotate(0.5turn);
}

.wishes__section-pikes-after > img {
  width: 100%;
}

.wishes__section-title-wrapper{
  padding: 4rem 0 7.5rem;
}

.wishes__section-title {
  padding: 2.5rem 0;

  border: 4px solid #FFF;
  border-right: 0;
  border-left: 0;

  font-family: Kosko;
  font-size: 4rem;
}

.wishes__section-title_row {
  width: 100%;
  height: 3px;
  background-color: #fff;

  margin: 1rem 0;
}

.wishes__section-wish{
  font-family: BirchCTT;
  font-size: 3rem;

  margin: 4rem 10%;
}

.wishes__section-love__split{
  margin: 0 auto;
  width: 35%;
}

.wishes__section-love__split > img {
  width: 100%;
}

.wishes__section-end__img{
  width: fit-content;
  margin: 0 auto;
  padding: 5rem 1.5rem;
}

.wishes__section-end__img > img {
  width: 100%;
}

.dress_code__section{
  padding: 6rem 0 12rem;
}

.dress_code__section-title {
  font-size: 4rem;
  font-family: LCChalk;
  margin-bottom: 3rem;
}

.dress_code__section-info{
  font-family: Kosko;
  font-size: 2.5rem;
  max-width: 90%;
  margin: 0 auto;

  margin-bottom: 2.5rem;
}

.dress_code__section-woman_info{
  display: flex;

  justify-content: space-between;
  padding: 0 2.5rem;
}

.dress_code__section-woman_info-img{
  flex-basis: 40%;
  margin-right: 12px;
}

.dress_code__section-woman_info-img > img {
  width: 100%;
}

.dress_code__section-woman_info_description{
  display: flex;
  flex-direction: column;
  align-items: end;

  max-width: 55%;
  flex-basis: 55%;
}

.dress_code__section-woman_info-description_title{
  display: flex;

  align-items: center;

  margin-bottom: 40px;
}

.dress_code__section-woman_info-description_title-img{
  margin: 0 1.25rem;
  width: 2.5rem;
}

.dress_code__section-woman_info-description_title-img > img {
  width: 100%;
}

.dress_code__section-woman_info-description_title-text{
  font-family: LCChalk;
  font-size: 6rem;
  color: #FF789F;
}

.dress_code__section-woman_info-description_wish{
  width: 100%;
  font-family: LCChalk;
  font-size: 2.5rem;

  text-align: right;

  margin-bottom: 9rem;
}

.dress_code__section-woman_info-ideas_button{
  border-radius: 60px;
  padding: 1.25rem;
  background-color: #FF789F;

  font-family: LCChalk;
  font-size: 2rem;

  color: #FFF;

  cursor: pointer;
  transition: all .2s;
}
.dress_code__section-woman_info-ideas_button:hover{
  background-color: #FC470A;
}

.dress_code__section-note{
  background-color: #FF8210;
  color: #fff;

  font-family: Kosko;
  font-size: 2rem;
  padding: 20px;

  margin: 4.5rem 0 ;
}

.dress_code__section-note-title{
  margin-bottom: 12px;
}

.dress_code__section-men_info{
  display: flex;

  justify-content: space-between;
  padding: 0 2.5rem;

  margin-bottom: 3.25rem;
}

.dress_code__section-men_info-img{
  flex-basis: 30%;
  margin-right: 12px;
}

.dress_code__section-men_info-img > img {
  width: 100%;
}

.dress_code__section-men_info_description{
  display: flex;
  flex-direction: column;
  align-items: start;

  flex-basis: 55%;
}

.dress_code__section-men_info-description_title{
  display: flex;

  align-items: center;

  margin-bottom: 2.5rem;
}
.dress_code__section-men_info-description_title-img{
  margin: 0 1.25rem;
  width: 2.5rem;
}

.dress_code__section-men_info-description_title-img > img {
  width: 100%;
}

.dress_code__section-men_info-description_title-text{
  font-family: LCChalk;
  font-size: 6rem;
  color: #FF789F;
}

.dress_code__section-men_info-description_wish{
  width: 100%;
  font-family: LCChalk;
  font-size: 2.5rem;

  text-align: left;
}

.dress_code__section-men_imgs{
  display: flex;
  align-items: start;
  justify-content: space-between;

  padding: 0 2.5rem;
  width: 100%;
}

.dress_code__section-men_imgs > div {
  padding: 0.75rem;
  width: 45%;
}

.dress_code__section-men_imgs img {
  width: 100%;
}

.chat__section {
  background: center / cover no-repeat url("imgs/chat/chat_background.png");

  margin-bottom: 6rem;

  font-size: 3rem;

  font-family: Kosko;

  padding: 15rem 1.25rem;
}

.chat__section-title {
  width: fit-content;
  margin: 0 auto 4rem;
  color: #FFF8DC;
}

.chat__section-description{
  margin-bottom: 6rem;
  color: #FFF8DC;
}

.chat__section_button{
  background-color: #FFE4B3;

  border-radius: 55px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 0.75rem 2rem;
  width: 60%;

  cursor: pointer;

  transition: all .2s;
}

.chat__section_button:hover{
  background-color: #FFDD9F;
}

.chat__section_button-img {
  margin-right: 0.75rem;
}

.chat__section-guests_button {
  color: #FF789F;
  margin: 0 auto;

  margin-bottom: 0.5rem;
}

.chat__section-friends_button {
  color: #FF8210;
  margin-left: auto;
}

.wait__section {
  margin-bottom: 4rem;
}

.wait__section-title {
  font-family: Kosko;
  font-size: 3rem;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 4rem;
}

.wait__section-timer {
  background-color: #FC470A;
  font-family: Kosko;
  font-size: 3rem;
  padding: 2rem;
  color: #FFE4B3;
}

.wait__section-timer > div {
  width: fit-content;
  margin: 0 auto;
}

.wait__section-img {
  max-width: 50%;
  padding: 1.25rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.wait__section-img img {
  width: 100%;
}

.wait__section-line {
  margin: 14px 0;

  height: 10px;
  width: 100%;
  background-color: #FFB9B9;
}

.section_questionnaire{
  margin: 0 10%;
  padding: 6rem 5%;
  margin-bottom: 6rem;

  background-color: #FFB9B9;
  color: #fff;

  font-size: 1.5rem;
  font-family: Kosko;
}

.section_questionnaire-title{
  font-family: Kosko;
  font-size: 4rem;

  margin-bottom: 1rem;
}

.section_questionnaire-subtitle{
  font-family: BirchCTT;
  font-size: 2.5rem;

  margin-bottom: 2.5rem;
}

.section_questionnaire_form {
  text-align: left;
}

.section_questionnaire_form > * {
  margin-bottom: 1rem;
}
.section_questionnaire_form > label {
  display: block;
  margin-bottom: 0.25rem;
}

.section_questionnaire_form-submit{
  text-align: center;
  border-radius: 60px;
  padding: 1.25rem;
  background-color: #FC470A;

  font-family: LCChalk;
  font-size: 2rem;

  color: #FFF;

  cursor: pointer;
  transition: all .2s;
}
.section_questionnaire_form-submit:hover{
  background-color: #FF8210;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,#fff 90%,#0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
  margin: 0 auto;
}
@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}

/*START 1000px*/

@media (max-width: 1000px) {

  html {
    font-size: 12px;
  }

  .guests-text__title {
    font-size: 48px;
  }

  .guests-text__text {
    font-size: 24px;
  }

  .timing__section-title {
    padding: 0 40px;
  }

  .timing__section {
    font-size: 12px;
  }
}

/*END 1000px*/

/*START 800px*/

@media (max-width: 800px)  {
  .we-marying__title {
    font-size: 36px;
  }

  .we-marying__subtitle {
    font-size: 48px;
  }

  .guests-text__wrapper {
    padding-left: 42px;
    padding-right: 42px;
  }

  .guests-text__wrapper > img {
    width: calc(100% + 200px);
    left: -100px;
  }
}
/*END 800px*/

/*START 600px*/

@media (max-width: 650px)  {
  html {
    font-size: 8px
  }

  .App-header__top {
    font-size: 12px;
  }

  .ring-pic {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .we-marying__title {
    font-size: 24px;
  }

  .we-marying__subtitle {
    font-size: 24px;
  }

  .guests-text__wrapper {
    padding-top: 20px;
    padding-bottom: 35px;
  }

  .guests-text__wrapper > img {
    display: none;
  }

  .guests-text__wrapper{
    background: center / cover no-repeat url("imgs/hello/hello_text_back.svg");
  }

  .guests-text__title {
    font-size: 36px;
  }

  .guests-text__text {
    font-size: 20px;
  }

}

/*START 450px*/

@media (max-width: 450px)  {
  html {
    font-size: 6px;
  }
}

/*END 450px*/
